* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

// nesting css
.header {
  background-color: #f5f9fe;
  padding: 15px 0;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      color: #2a73dd;
    }
    .menu {
      a {
        color: #000;
        font-weight: 300;
        font-size: 16px;
        text-decoration: none;
        margin: 0px 20px;
        position: relative;
        &::after {
          width: 100%;
          position: absolute;
          bottom: -5px;
          left: 0px;
          background-color: #2a73dd;
          content: "";
          height: 3px;
          transform: scaleX(0);
        }
        &:hover {
          color: #2a73dd;
          &::after {
            width: 100%;
            transform: scaleX(1);
            transition: all 1s;
          }
        }
      }
    }
  }
}

.carousel {
  background-color: #f5f9fe;
  margin-top: 5px;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    .about {
      .product-title {
      }
      .product-desc {
      }
      .description {
      }
    }
    .thumbnail {
        width: 50%;
      img {
        height: 400px;
      }
    }
  }
}
